<h2>Sections
	<a href="{{ base }}" class="btn span1" style="float:right; margin-right: 5px;"><i class="icon-home  icon-d-grey"></i></a>
</h2>
<div class="scroll-pane" style="top:48px;">


	{% macro list(data,base,docs,url) %}
		{% import _self as macro %}
		{% for key,row in data %}
			
			<li>
				<a href="{{ url }}/{{ key }}" {% if docs['file'] == row['file'] %} class="active"{% endif %}>
					{{ row['heading'] }}
				</a>

				{% if row['sub'] %}
				<ul>
					
					{{ macro.list(row['sub'],base,docs,url ~ "/" ~ key) }}
				</ul>
				{% endif %}


			</li>
		{% endfor %}

	{% endmacro %}
	{% import _self as macro %}



	<ul class="nav">
		{{ macro.list(data['sub'],base,docs,base) }}
   
	</ul>
</div>