<section id="maintoolbar">
	<div class="container">
		<div class="toolbar clearfix  ">

			<ul class="nav nav-pills pull-left">
				<li>
					<h2 style="padding-left: 30px; margin-bottom: -5px;">Documentation</h2>
				</li>

				<li class="divider-vertical"></li>

			</ul>
		</div>
		<div class="toolbar-end"></div>
	</div>

</section>
<section role="main" id="pagecontent">
	<div class="container help_pages">


		<div class="row">
			<article id="left-area" class="span11">
				<div class="content">
					<div class="scroll-pane scrolly" >



                        data




					</div>
				</div>
				<div class="loadingmasks wide"></div>
			</article>
            <article id="right-area" class="span5 offset11">

                <h2 style="">Table of Contents</h2>

                    <div class="scroll-pane" style="top:48px;">
                <ul class="nav">
                    {% for key, row in data['help'] %}
                        <li>
                            <a href="/{{ data['app'] }}/help/{{ key }}">
                                {{ row['title'] }}
                            </a>
                            <ul>
                                {% for skey, srow in row['help'] %}
                                    <li>
                                        <a href="/{{ data['app'] }}/help/{{ key }}/{{ skey }}">
                                            {% if not srow['heading'] %}
                                                {{ srow['title'] }}
                                            {%  else %}
                                                {{ srow['heading'] }}
                                            {% endif %}
                                        </a>
                                        <ul>

                                            {% for sskey, ssrow in srow['help'] %}
                                                <li>
                                                    <a href="/{{ data['app'] }}/help/{{ key }}/{{ skey }}/{{ sskey }}">
                                                        {{ ssrow['heading'] }}
                                                    </a>
                                                </li>


                                            {% endfor %}
                                        </ul>

                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>

</div>
            </article>
		</div>


	</div>

</section>
