<section id="maintoolbar">
	<div class="container">
		<div class="toolbar clearfix  ">

			<ul class="nav nav-pills pull-left">
				<li>
					<h2 style="padding-left: 30px; margin-bottom: -5px;">{{ data['title'] }}</h2>
				</li>

				<li class="divider-vertical"></li>
                <li>
                    <h2 style=" margin-bottom: -5px;"><small> {{ data['help']['heading'] }}</small></h2></li>

			</ul>
		</div>
		<div class="toolbar-end"></div>
	</div>

</section>
<section role="main" id="pagecontent">
	<div class="container admin_pages">


		<div class="row">
			<article id="left-area" class="span11">
				<div class="content">
					<div class="scroll-pane scrolly" >



                        data




					</div>
				</div>
				<div class="loadingmasks wide"></div>
			</article>
			<article id="right-area" class="span5 offset11">

				<h2 style="border-bottom: 1px dotted #ccc; margin-top: 10px; padding-left: 10px; margin-bottom: 10px;">Recent Tutorials</h2>
				<h2 style="border-bottom: 1px dotted #ccc; margin-top: 10px; padding-left: 10px; margin-bottom: 10px;">Top Tutorials</h2>




			</article>
		</div>


	</div>

</section>
