<section id="maintoolbar">
	<div class="container">
		<div class="toolbar clearfix  ">

			<ul class="nav nav-pills pull-left">
				<li>
					<h2 style="padding-left: 30px; margin-bottom: -5px;">{{ data['title'] }}</h2>
				</li>

				<li class="divider-vertical"></li>
                <li>
                    <h2 style=" margin-bottom: -5px;"><small> {{ data['sub_title'] }} {%  if data['sub_section_item'] %} - {{ data['help']['heading'] }}{% endif %}</small></h2></li>

			</ul>
		</div>
		<div class="toolbar-end"></div>
	</div>

</section>
<section role="main" id="pagecontent">
	<div class="container help_pages">


		<div class="row">
			<article id="left-area" class="span11">
				<div class="content">
					<div class="scroll-pane scrolly" >
                        <ul class="breadcrumb">
                            <li><a href="/{{ data['app'] }}/help">help</a> <span class="divider">/</span></li>
                            <li><a href="/{{ data['app'] }}/help/{{ data['section'] }}">{{ data['section'] }}</a> <span class="divider">/</span></li>
                            {% if data['details'] and not data['sub_section_item'] %}
                                <li class="active">{{ data['sub_section'] }}</li>
                            {% else %}
                                <li>
                                    <a href="/{{ data['app'] }}/help/{{ data['section'] }}/{{ data['sub_section'] }}">{{ data['sub_section'] }}</a>
                                    <span class="divider">/</span></li>
                                <li class="active">{{ data['sub_section_item'] }}</li>

                            {% endif %}
                        </ul>


                        {{ data['help']['file'] }}




					</div>
				</div>
				<div class="loadingmasks wide"></div>
			</article>
			<article id="right-area" class="span5 offset11">

            <h2>Details</h2>




			</article>
		</div>


	</div>

</section>
