<section id="maintoolbar">
    <div class="container">
        <div class="toolbar clearfix  ">

            <ul class="nav nav-pills pull-left">
                <li>
                    <h2 style="padding-left: 30px; margin-bottom: -5px;">{{ data['title'] }}</h2>
                </li>

                <li class="divider-vertical"></li>
                <li>
                    <h2 style=" margin-bottom: -5px;">
                        <small> {{ data['sub_title']|capitalize }}</small>
                    </h2>
                </li>
                <li style="float: right;">
                    <button class="btn span1 fancy-close" style="position:absolute;top:5px; right:5px;"> Close
                    </button>
                </li>
            </ul>
        </div>
        <div class="toolbar-end"></div>
    </div>

</section>
<section role="main" id="pagecontent">
    <div class="container help_pages">


        <div class="row">
            <article id="left-area" class="span11">
                <div class="content">

                        <ul class="breadcrumb">
                            <li><a href="/{{ data['app'] }}/help/">help</a> <span class="divider">/</span></li>
                            <li><a href="/{{ data['app'] }}/help/{{ data['section'] }}/">{{ data['section'] }}</a>
                                <span class="divider">/</span></li>
                            <li class="active">{{ data['sub_section'] }}</li>
                        </ul>

                    <div class="scroll-pane scrolly" style="top: 35px;">
                        {% if data['file'] %}
                            {% set file = data['file'] %}
                            {% include [ file, 'none.html'] %}
                        {% endif %}


                    </div>
                </div>
                <div class="loadingmasks wide"></div>
            </article>
            <article id="right-area" class="span5 offset11">

                {% include "_side_nav.tmpl" %}
                <div class="bottom-right">
                    {% if not data['help']['heading'] %}

                        <h3>Sub Sections {% if data['up'] %}
                            <a href="{{ data['up'] }}" class="btn span1 btn-mini" style="float:right; margin-right: 5px;">
                                <i class="icon-circle-arrow-up icon-d-grey"></i></a>{% endif %}</h3>
                        <ul class="nav">
                            {% for key, row in data['help'] %}
                                <li>
                                    <a href="/{{ data['app'] }}/help/{{ data['section'] }}/{{ data['sub_section'] }}/{{ key }}/">
                                        {{ row['title']?row['title']:row['heading'] }}
                                    </a>

                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}


                </div>

            </article>
        </div>


    </div>

</section>
