
<!doctype html>
<!--[if lt IE 9]>
<html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]>
<html class="no-js ie" lang="en">
<![endif]-->
<!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ page['meta']['title']|default("") }}</title>

	<link rel="stylesheet" type="text/css" href="/ui/_css/custom-theme/jquery-ui.css"/>
	<link rel="stylesheet" type="text/css" href="/min/css.{{_v}}.css"/>


	<script src="/ui/_js/libs/modernizr.{{_v}}.js"></script>


	{% if page['template_css'] %}
	<link rel="stylesheet" href="{{ page['template_css'] }}">
	{% endif %}






</head>
<body class="help_pages">

{% if page['template'] %} {% include page['template'] %} {% endif %}



<script  src="/ui/_js/libs/jquery.{{_v}}.js"></script>


<script src="/min/js.{{_v}}.js"></script>
<script>
    $(".fancy-close").click(function(){
        parent.$.fancybox.close();
    });

    parent.$.bbq.pushState({"help":"{{ _uri }}"});


    var jScrollPaneOptions = {
        showArrows:false,
        maintainPosition:false
    };

    function scrollbars(){
        var $right_area = $("#right-area .scroll-pane");
        var $left_area = $("#left-area .scroll-pane");
        if ($(".bottom-right").length) {
            $right_area.css("bottom", $(".bottom-right").outerHeight());
        }
        $right_area.jScrollPane(jScrollPaneOptions);
        $left_area.jScrollPane(jScrollPaneOptions);
    }

    $(document).ready(function(){
        scrollbars();

        var tutorialOptions = {
            type       :'swf',
            padding: 3,
            width      :960,
            swf:{
                wmode          :'transparent',
                allowfullscreen:'true',
                allowscriptaccess:'always'
            }

        };


        $(".tutorial-btn").fancybox(tutorialOptions);


        $("map").each(function(){
            var $map = $(this);
            var $image = $("img[usemap='#"+$map.attr("name")+"']");
            var $container = $image.parent();

            $("area", $map).each(function () {
                var $this = $(this);
                var coords = $this.attr("coords").split(",");


                var left = coords[0];
                var top = coords[1];
                var right = coords[2];
                var bottom = coords[3];

                var width = right - left;
                var height = bottom - top;

                var href = $this.attr("href");
                var cursor = "pointer";

                if (href && href != "#"){
                    href = 'href="'+href+'"';
                } else {
                    href = '';
                    cursor = 'help';
                }



                $container.append('<a style="top:'+top+'px;width:'+width+'px;height:'+height+'px;left:'+left+'px; cursor: '+cursor+';" rel="popover" data-title="'+$this.attr("alt")+'" data-content="' + $this.attr("data-content") + '" ' + href + '>&nbsp;</a>');

            });
            $map.remove();


        });



        });
        $(function () {
            $(document).tooltip({
                selector:'[rel=tooltip]',
                live:true,
                container:'body'
            });
            $(document).popover({
                selector:'[rel=popover]',
                offset:5,
                live   :true,
                trigger:'hover',
                container:'body'
            });


        });


</script>



{% if page['template_js'] %}
<script src='{{ page['template_js'] }}'></script>
{% endif %}

</body>
</html>
