
<!doctype html>
<!--[if lt IE 9]>
<html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]>
<html class="no-js ie" lang="en">
<![endif]-->
<!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<!--no_timer_ssssssssssssss_list-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ docs['title']|default("") }}</title>
	<meta name="description" content="">
	<meta name="author" content="">


	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/ui/_css/libs/custom-theme/jquery-ui.{{_v}}.css"/>
	<link rel="stylesheet" type="text/css" href="/ui/_css/style.{{_v}}.css"/>


	<script src="/ui/_js/libs/modernizr.{{ _v }}.js"></script>


	{% for row in page['css'] %}
		<link rel="stylesheet" href="{{ row }}">
	{% endfor %}

	
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

	<style type="text/css">
		.nav li ul {
			 display:none; 
		}
		
		.nav a.active {
			background-color: #ddd;;
		}
		.nav .icon-caret-down {
			float:right;
			margin-right: 5px;
			margin-top: 3px;
		}
		.nav li a {
			padding-right:5px!important;
		}
		
		
		.nav-pills li.active a {
			background-color: #f1f1f1;
			border: 1px solid #ccc;
			color: #444;;
		}
		
		
	</style>



</head>
<body class="help_pages">

<section id="maintoolbar">
	<div class="container">
		<div class="toolbar clearfix  ">

			<ul class="nav nav-pills pull-left">
				
				
				<li>
					<h2 style="padding-left: 20px; padding-right: 20px;margin-bottom: -5px;">{{ docs['heading'] }}</h2>
				</li>

				<li class="divider-vertical"></li>
				<li>
					<h2 style=" margin-bottom: -5px;">
						<small> {{ docs['description']|capitalize }}</small>
					</h2>
				</li>
				<li style="float: right;">
					<button class="btn span1 fancy-close" style="position:absolute;top:5px; right:5px;"> Close
					</button>
				</li>
			</ul>
		</div>
		<div class="toolbar-end"></div>
	</div>

</section>
<section role="main" id="pagecontent">
	<div class="container help_pages">


		<div class="row">
			<article id="left-area" class="span11">
				<div class="content">

					<ul class="breadcrumb">
						<li><h3 class="g" style="margin:-10px 0; padding:  0 10px 0 0; ">{{ current_app|upper }}</h3></li>
						{% for row in breadcrumbs %}
							{% if loop.last %}
								<li class="active">{{ row }}</li>
							{% else %}
								{% if loop.first %}
									<li><a href="{{ base }}">{{ row }}</a> <span class="divider">/</span></li>
								{% else %}
									<li><a href="{{ base }}/{{ row }}">{{ row }}</a> <span class="divider">/</span></li>
								{% endif %}
							{% endif %}
						{% endfor %}
						
					</ul>

					<div class="scroll-pane scrolly" style="top: 35px;">
						<div style="padding: 10px 15px 30px 15px; ">
							
						
						{% if docs['file'] %}
							{% set file = docs['file'] %}
							{% include [ file, 'none.html'] %}
						{% endif %}
					</div>

					</div>
				</div>
				<div class="loadingmasks wide"></div>
			</article>
			<article id="right-area" class="span5 offset11">

				{% include "_side_nav.tmpl" %}
				<div class="bottom-right">
					


				</div>

			</article>
		</div>


	</div>

</section>







<script  src="/ui/_js/libs/jquery.{{_v}}.js"></script>


<script src="/min/js.{{_v}}.js"></script>
<script>
    $(".fancy-close").click(function(){
        parent.$.fancybox.close();
    });

    parent.$.bbq.pushState({"help":"{{ _uri }}"});


    var jScrollPaneOptions = {
        showArrows:false,
        maintainPosition:false
    };

    function scrollbars(){
        var $right_area = $("#right-area .scroll-pane");
        var $left_area = $("#left-area .scroll-pane");
        if ($(".bottom-right").length) {
            $right_area.css("bottom", $(".bottom-right").outerHeight());
        }
        $right_area.jScrollPane(jScrollPaneOptions);
        $left_area.jScrollPane(jScrollPaneOptions);
    }

    $(document).ready(function(){
        scrollbars();

        var tutorialOptions = {
            type       :'swf',
            padding: 3,
            width      :960,
            swf:{
                wmode          :'transparent',
                allowfullscreen:'true',
                allowscriptaccess:'always'
            }

        };
	    
	    var $selected_nav = $(".nav a.active").closest("li");
	   
	   // $selected
	    $selected_nav.closest("li").find(">ul").show();
	    $selected_nav.parentsUntil(".nav").show();
	   // open_children($selected_nav)
	  
	   


        $(".tutorial-btn").fancybox(tutorialOptions);


        $("map").each(function(){
            var $map = $(this);
            var $image = $("img[usemap='#"+$map.attr("name")+"']");
            var $container = $image.parent();

            $("area", $map).each(function () {
                var $this = $(this);
                var coords = $this.attr("coords").split(",");


                var left = coords[0];
                var top = coords[1];
                var right = coords[2];
                var bottom = coords[3];

                var width = right - left;
                var height = bottom - top;

                var href = $this.attr("href");
                var cursor = "pointer";

                if (href && href != "#"){
                    href = 'href="'+href+'"';
                } else {
                    href = '';
                    cursor = 'help';
                }



                $container.append('<a style="top:'+top+'px;width:'+width+'px;height:'+height+'px;left:'+left+'px; cursor: '+cursor+';" rel="popover" data-title="'+$this.attr("alt")+'" data-content="' + $this.attr("data-content") + '" ' + href + '>&nbsp;</a>');

            });
            $map.remove();


        });



        });
        $(function () {
            $(document).tooltip({
                selector:'[rel=tooltip]',
                live:true,
                container:'body'
            });
            $(document).popover({
                selector:'[rel=popover]',
                offset:5,
                live   :true,
                trigger:'hover',
                container:'body'
            });


        });

    function updatetimerlist(d, page_size) {
        //console.log(d);
        /*
        if (!d) {
            return false;
        }
        if (typeof parent.updatetimerlist == 'function') {
            console.log("parent exists");
            console.log(d);
            parent.updatetimerlist(d, page_size);

        } else {
            console.log("parent doesnt exist");
        }

*/
    }
</script>



{% if page['template_js'] %}
<script src='{{ page['template_js'] }}'></script>
{% endif %}

</body>
</html>
